# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage



# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/Backend/node_modules
/Backend_BD/node_modules
/Backend_BD/instantclient_21_3
/Backend_BD/files
/Backend_BD/Wallet_proyecto2
/FrontEnd/node_modules
/leerXML/node_modules
/ServidorAutentificacion/node_modules

.sso
.txt
.jks
.properties
.ora
