.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img{
  max-width:100%;
  max-height:100%;
  object-fit:cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Formulario-expediente{
  margin-top: 10px;
  margin-left: 35px;
  height: 200px;
  width: 1200px;
  background-color: transparent;  
}

.box-seleccion-puesto{
  margin-top: 30px;
}

.box-seleccion-rol{
  margin-top: 30px;
  width: 30%;
}

.App-link {
  color: #61dafb;
}

.Div-scroll-historial-usuario {
  overflow: scroll
}

.prueba-size{
  height: 1800px;
}

.carrusel{
  align-items: center;
  width: 500px;
  height: 400px;
}

.documento{
  align-items: center;
  width: 800px;
  height: 800px;
}

.pie{
  height:100px;
  background-color: black;
}

.tablas{
  align-items: center;
  width: 1200px;
  height: 500px;
}
.container-imagen{
  justify-content: end;
  width: 500px;
  height: 300px;
}

.container-imagen img {
  height: auto;
  width: auto;
  margin: 0 auto; /* it centers any block level element */
}

.fullscreen-modal.modal-dialog  {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.fullscreen-modal .modal-content {
  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background-color: papayawhip;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*Para la tabla----------------*/
:root {
  font-size: 14px;
}

.thead,
tr {
  background-color: honeydew;
}

.tr,
th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  background-color: honeydew;
}

tbody,
tr:nth-child(odd) {
  background-color: white;
}

.tbody,
tr,
td {
  white-space: nowrap;
  width: 20%;
  overflow-wrap: break-word;
  padding: 0.5rem;
}





